<h1>EcoTracer Simulator Portal</h1>
<h2>Controls</h2></body>
<button id="btn_machine_power">Power ON Machine</button>
<button id="btn_water_valves">Open Water Valves</button>

<br></br>
<h2>Select Drink</h2></body>
<button id="black_tea">Black Tea</button>
<button id="milk">Milk</button>
<br></br>
<label for="batch_count">Batch Count: </label>
<input type="text" id="batch_count_field" name="batch_count_field">
<br></br>
<button id="btn_batching">Start Making Batch</button>

<h2>Machine Info</h2></body>
<h3 id="machine_status">Machine Status: Not Intialised</h3>
<h3 id="current">Current: Not Intialised</h3>
<h3 id="voltage">Voltage: Not Intialised</h3>
<h3 id="water_flow_rate">Water Flow Rate: Not Intialised</h3>
<h3 id="energy_rate">Energy Rate: Not Intialised</h3>

<h2>Current Batch:</h2>
<h3 id="selected_drink">Selected Drink: None Specified</h3>
<h3 id="progress_text">Batch: None Specified</h3>